h1 {
    color:gold
}
h1 {
    text-decoration: underline;
}
h1 {
    background-color: rgb(252, 164, 0);
}
/*common styles*/
body {
    margin: 0px;
}

/* common nav styles */
.navigation-wrapper{
    height: 190px;
    background-color: hsl(300, 26%, 46%);
    color: #cbcbcb;
    /* Flexbox container */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    /*padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 100px;*/
}

.left-column {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 15px;
}

.icon i {
    font-size:2em;
}

.left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
       

.address-wrapper {

    
}


